@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

:root{
    --primary-color:#f5ec42;
    --width-break:600px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* display: flex;
    min-height: 100vh; 
    flex-direction: column;*/
    font-family: 'Yeon Sung', cursive;

}

nav {
    background-color: var(--primary-color);
    text-align: center;
    font-size: 2.5rem;
    padding: 1rem;
    border-radius: 0.7rem;
}

#head{
  text-align:center;
  font-size:2rem;
  color: #948e18;
}

#head-img{
    max-width: 50%;
    margin: auto;
    display: block;
}

main {
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}

button {
    background-color: var(--primary-color);
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: 'Yeon Sung', cursive;
    font-size: large;
}

#txt-input {
    box-sizing: border-box;
    width: 100%;
    min-height: 15vh;
    display: block;
    margin-top: 2rem;
    padding: 1rem;
    font-size: large;
    font-family: inherit;
}

#output {
    border: 1px solid black;
    width: 100%;
    min-height: 15vh;
    max-height:20vh;
    padding: 1rem;
    overflow:scroll;
    margin-bottom: 2rem;
}

footer{
  text-align: center;
  background-color: var(--primary-color);
  padding:1rem;
  width: 100%;
}

